  .article{
    padding: 5px 10px;
    border:2px solid white;
    border-radius: 10px;
    margin: 15px;
  }

  .articleHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .articleTitle{
    font-weight: bold;
  }

  .articleDate{
    font-style: italic;
  }

  .anchorArticle{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .readMoreLink{
    text-decoration: underline;
    color: red;
  }